<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Students</title>
</head>
<body>
    <div>
        <h2>Add a student</h2>
        <br/><br/>
        <form action='/students/add' method='POST'>
            <table>
                <tr><td> Naam:</td><td><input type='text' name='naam'></td></tr>
                <tr><td> Geboortedatum:</td><td><input type='text' name='geboortedatum'></td></tr>
                <tr><td> Studierichting:</td><td><input type='text' name='studierichting'></td></tr>
                <tr><td><button type='submit'>Add</button></td></tr>
            </table>
        </form>
    </div>
</body>
</html>